* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  height: 4rem;
  margin-bottom: 4rem;
}

.wrapper {
  background-color: #f6f8f9;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 13px 19px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background-color: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.2rem;
}

.button:hover {
  border: 2px dotted #242424;
}

.clear {
  background-color: #ff7979;
}

.opt {
  background-color: #ffaf38;
}

.equals {
  background-color: #4bd086;
  grid-column: 3/5;
}